<% provide(:title, "About") %>
<section>
  <h1>このアプリについて</h1>
    <p>
      このアプリは、<a href="https://railstutorial.jp/">Rails Tutorial</a>を参考に作成したものです
    </p>
  <h2>機能</h2>
    <ul>
      <li>ユーザー登録機能（パスワードは7文字以上制限）</li>
      <li>ユーザー一覧・ページネーション機能</li>
      <li>Adminユーザー登録機能</li>
      <li>DBモデル管理</li>
      <li>統合テスト・単体テスト</li>
    </ul>
    <%= link_to image_tag("model.png", alt: "モデル", width: "200px"), "" %>
</section>
